<nav>
	<a href="/web250/web250_introduction.html">Introduction</a>
	<a href="/web250/web250_contract.html">Contract</a>
	<a href="/web250/web250_brand.html">Brand Guide</a>

	<!--
	<div class="dropdown">
		<button class="dropbtn">Table of Contents
			<i class="fa fa-caret-down"></i>
		</button>

		<div class="dropdown-content">
			<a href="https://jwestmo1.github.io/web250/web250_contract.html">Contract</a>
			<a href="https://jwestmo1.github.io/web250/web250_brand.html">Brand Guide</a>
		</div>

	</div>
-->
</nav>
