<footer>
	<p><a href="http://students.cpcc.edu/~jwestmo1/">CP Webspace</a> |
		<a href="https://github.com/jwestmo1">Github</a> |
		<a href="https://jwestmo1.github.io/">Github Pages</a> |
		<a href="https://jwestmo1.github.io/web115_vonBriesen/">GH Course Page</a> |
		<a href="https://www.khanacademy.org/profile/jwestmo1">Khan Academy</a> |
		<a href="https://www.codecademy.com/profiles/method6099084112">Codecademy</a> |
		<a href="https://www.freecodecamp.org/jwestmore1">freeCodeCamp</a> |
		<a href="https://jsfiddle.net/user/jwestmo1/fiddles/">JSFiddle</a> |
		<a href="https://profile.edx.org/u/Jen_Westmo1">Edx</a> |
		<a href="https://www.linkedin.com/in/jen-westmoreland-17a06b10/">LinkedIn</a>
	</p>
	<p>©2021 - Made with ❤️ by East-Less-Sea Designs</p>
<!-- <button class="htmlbutton" onclick="window.location.href='https://validator.w3.org/check?uri=';" id = 'validation_link_html' title="Validate"><img src="images/button_html5_yellow.gif" alt="Yellow HTML5 validation button"></a></button>
	<button class="cssbutton" onclick="window.location.href='http://jigsaw.w3.org/css-validator/check/referer';" title="Validate"><img src="images/button_css3_blue.gif" alt="Blue CSS3 validation button"></a></button> -->
	<hr>
<a href = "https://validator.w3.org/check?uri=" id = "validation_link_html">validate html</a> **
<a href = "https://jigsaw.w3.org/css-validator/check/referer?uri=" id = "validation_link_css">validate css</a>
<hr>
<script>
document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);

</script>

</footer>
